body {
  font-family: "PT Mono", monospace;
  margin: 0 auto;
  background: #f7f7f7;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.client-section {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
h2 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #79a8a9;
}

.grid-4-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3c575ad0;
  border-radius: 8px;
  box-sizing: border-box;
}

.client {
  font-size: 20px;
  font-weight: bold;
  font-family: roboto;
}
.btn-client {
  padding: 10px 80px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: white;
  background: #79a8a9;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.btn-client:hover {
  color: white;
  background: #3c575ad0;
  transition: transform 0.03ms all ease-in-out;
  transform: scale(1.05);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-client {
  width: fit-content;
}

.dueDate {
  font-size: 14px;
  color: #757575;
}
footer {
  text-align: center;
  font-size: 14px;
}
footer a {
  color: #79a8a9;
}
@media (max-width: 950px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  .client {
    font-size: 14px;
  }
}
